body {
    background: silver
}
.form {
    margin: 50px auto;
    width: 300px;
    padding: 30px 25px;
    background: white;
}

.heading{ 
    margin: 30px auto;
    width: 220px;
    padding: 20px,20px;
    background: green;
}

h2{
     
    margin: 100px auto;
    width: 180px;
    padding: 20px,20px;
    background: green;
}

h1.login-title {
    color: #666;
    margin: 0px auto 25px;
    font-size: 25px;
    font-weight: 300;
    text-align: center;
}
.login-input {
    font-size: 15px;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 25px;
    height: 25px;
    width: calc(100% - 23px);
}
.login-input:focus {
    border-color:#6e8095;
    outline: none;
}
.login-button {
    color: #fff;
    background: #55a1ff;
    border: 0;
    outline: 0;
    width: 100%;
    height: 50px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
}
.link {
    color: #666;
    font-size: 15px;
    text-align: center;
    margin-bottom: 0px;
}
.link a {
    color: #666;
}
h3 {
    font-weight: normal;
    text-align: center;
}


.product .product-slider{
    padding: 10px;
}

.product .product-slider:first-child{
    margin-bottom: 2rem;
}

.product .product-slider .box{
    background: #fff;
    border-radius: .5rem;
    text-align: center;
    padding:2rem 2rem;
    outline-offset: -1rem;
    outline: var(--outline);
    box-shadow: var(--box-shadow);
    transition: .2s linear;
}

.product .product-slider .box:hover{
    outline-offset: 0rem;
    outline: var(--outline-hover);
}

.product .product-slider .box img{
    height:20rem;
}

.product .product-slider .box .price{
    font-size: 2rem;
    color:var(--light-color);
    padding:.5rem 0;
}

